@page
@model BlazorImp.Pages.Questions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>QuestionPage</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionPage.Question)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionPage.Question)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionPage.Answer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionPage.Answer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionPage.Context)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionPage.Context)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.QuestionPage.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
